@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model IEnumerable<TTGWebUI.Models.CustomerVM>
<h1>Search result</h1>
<br /> <!-- br is like\n -->
<br />

<table class=" table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email/Phone</th>
        <th></th>
    </tr>
    @foreach(CustomerVM cust in Model )
    { 
        <tr>
            <td>@Html.DisplayFor(modelItem => cust.Name)</td>
            <td>@Html.DisplayFor(modelItem => cust.Address)</td>
            <td>@Html.DisplayFor(modelItem => cust.EmailPhone)</td>
            <td>
                
            </td>
        </tr>
    }

</table>